<div class="container mx-auto">
  <div class="grid grid-cols-4 login-container rounded-2xl shadow-xl">
    <div class="col-span-2">
      <img
        class="rounded-l-2xl object-fill w-full h-full"
        src="assets/images/covid_stats.jpg"
        alt="Covid Stats image for login page" />
    </div>
    <div class="col-span-2">
      <h2 class="text-center text-3xl font-semibold text-indigo-800">
        NLT Covid Tracker
      </h2>
      <form class="login-form">
        <mat-form-field appearance="fill" class="form-field-full-width">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="Username"
            [formControl]="userNameFormControl" />
          <mat-error *ngIf="userNameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password"
            [formControl]="pwdFormControl" />
          <mat-error *ngIf="pwdFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <button
          mat-raised-button
          color="primary"
          class="form-field-full-width"
          [disabled]="isFormValid()"
          (click)="onLogin()">
          Login
        </button>
      </form>
      <p class="mt-8 mb-8 text-xs font-light text-center text-gray-700">
        Don't have an account?
        <a
          routerLink="/auth/sign-up"
          class="font-medium text-indigo-800 hover:underline"
          >Sign up</a
        >
      </p>
    </div>
  </div>
</div>
